 /* 试着模仿Material-UI的风格 */
 body {
     background: url("https://api.dujin.org/bing/1920.php") fixed;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .bct {
     background-color: transparent;
 }

 .bc0 {
     background-color: var(--theme-color-0);
 }

 .bc1 {
     background-color: var(--theme-color-1);
 }

 .bc2 {
     background-color: var(--theme-color-2);
 }

 .bc3 {
     background-color: var(--theme-color-3);
 }

 .bc4 {
     background-color: var(--background-color-0);
 }

 .bc5 {
     background-color: var(--background-color-1);
 }

 .bc6 {
     background-color: var(--background-color-2);
 }

 .bc7 {
     background-color: var(--background-color-3);
 }


 .bc8 {
     background-color: var(--background-color-4);
 }

 .bch0:hover {
     background-color: var(--theme-color-0);
 }

 .bch1:hover {
     background-color: var(--theme-color-1);
 }

 .bch2:hover {
     background-color: var(--theme-color-2);
 }

 .bch3:hover {
     background-color: var(--theme-color-3);
 }

 .bch4:hover {
     background-color: var(--background-color-0);
 }

 .bch5:hover {
     background-color: var(--background-color-1);
 }

 .bch6:hover {
     background-color: var(--background-color-2);
 }

 .bch7:hover {
     background-color: var(--background-color-3);
 }

 .bch8:hover {
     background-color: var(--background-color-4);
 }


 .bca0:active {
     background-color: var(--theme-color-0);
 }

 .bca1:active {
     background-color: var(--theme-color-1);
 }

 .bca2:active {
     background-color: var(--theme-color-2);
 }

 .bca3:active {
     background-color: var(--theme-color-3);
 }

 .bca4:active {
     background-color: var(--background-color-0);
 }

 .bca5:active {
     background-color: var(--background-color-1);
 }

 .bca6:active {
     background-color: var(--background-color-2);
 }

 .bca7:active {
     background-color: var(--background-color-3);
 }

 .bca8:active {
     background-color: var(--background-color-4);
 }


 .tc {
     text-align: center;
 }

 .tl {
     text-align: left;
 }

 .w10 {
     width: 10px;
 }

 .w15 {
     width: 15px;
 }

 .w18 {
     width: 18px;
 }

 .w20 {
     width: 20px;
 }

 .w35 {
     width: 35px;
 }

 .w85pct {
     width: 85%;
 }

 .w100pct {
     width: 100%;
 }

 .h18 {
     height: 18px;
 }

 .h500 {
     height: 500px;
 }

 .w18b::before {
     width: 18px;
 }

 .h18b::before {
     height: 18px;
 }

 .h40 {
     height: 40px;
 }

 .mt10 {
     margin-top: 10px;
 }

 .ml5 {
     margin-left: 5px;
 }

 .mr5 {
     margin-right: 5px;
 }

 .pr2 {
     padding-right: 2px;
 }

 .pr3 {
     padding-right: 3px;
 }

 .pr5 {
     padding-right: 5px;
 }

 .pr8 {
     padding-left: 8px;
 }

 .pl2 {
     padding-left: 2px;
 }

 .pl3 {
     padding-left: 3px;
 }

 .pl5 {
     padding-left: 5px;
 }

 .pl8 {
     padding-left: 8px;
 }


 .br6 {
     border-radius: 6px;
 }

 .db {
     display: block;
 }

 .di {
     display: inline;
 }

 .dib {
     display: inline-block;
 }

 .dn {
     display: none;
 }

 .o0 {
     opacity: 0;
 }

 .fl {
     float: left;
 }

 .pr {
     position: relative;
 }

 .pa {
     position: absolute;
 }

 .t2 {
     top: 2px;
 }

 .t10 {
     top: 10px;
 }

 .l10 {
     left: 10px;
 }

 .oyx {
     overflow-y: scroll;
 }

 .oh {
     overflow: hidden;
 }

 .toe {
     text-overflow: ellipsis;
 }

 .disable-before::before {
     content: none;
 }