 /* 试着模仿Material-UI的风格 */

 body {
     background: url("https://api.dujin.org/bing/1920.php") fixed;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .tip {
     display: none;
     color: red;
 }

 .panel {
     text-align: center;
     color: white;
     background-color: rgba(101, 203, 255, 0.8);
     border-radius: 6px;
     width: 320px;
     margin: 0 auto;
 }

 .btn {
     width: 100%;
     height: 40px;
     font-size: 20px;
     outline: none;
     color: white;
     background-color: #42a5f5;
     border: none;
     border-radius: 6px;
     margin-top: 10px;
 }

 .btn:hover {
     background-color: #64b5f6;
 }

 .btn:active {
     background-color: #2196f3;
 }

 .edit {
     border: none;
     outline: none;
     color: white;
     border-bottom: 1.2px solid white;
     line-height: 20px;
     font-size: 20px;
     height: 20px;
     width: 250px;
     background-color: transparent;
     margin: 8px 0px;
 }

 .edit::-webkit-input-placeholder {
     /* WebKit, Blink, Edge */
     color: white;
     opacity: 0.5;
     font-size: 18px;
 }

 .edit:-moz-placeholder {
     /* Mozilla Firefox 4 to 18 */
     color: white;
     opacity: 0.5;
     font-size: 18px;
 }

 .edit::-moz-placeholder {
     /* Mozilla Firefox 19+ */
     color: white;
     opacity: 0.5;
     font-size: 18px;
 }

 .edit:-ms-input-placeholder {
     /* Internet Explorer 10-11 */
     color: white;
     opacity: 0.5;
     font-size: 18px;
 }

 .stagger-table tbody {
     /* 不允许HTML吞掉空格 */
     white-space: pre
 }

 .stagger-table {
     border-collapse: collapse;
 }

 .stagger-table th, .stagger-table td {
     border: 1px solid white;
     text-align: center;
     padding: 10px;
 }

 .stagger-table tr:nth-child(odd) {
     background-color: #42a5f5;
 }

 .stagger-table tr:nth-child(even) {
     background-color: #90caf9;
 }

 .stagger-table th {
     background-color: #1976d2;
 }

 .rd {
     display: none;
     /* 将原生的radio隐藏 */
 }

 /* label 模拟 “底部框” */

 .rd+label {
     display: inline-block;
     position: relative;
     cursor: pointer;
     top: 2px;
     width: 16px;
     height: 16px;
     border-radius: 50%;
     background-color: white;
 }

 /* “label::before伪元素 模拟 “选择小圆块” */

 .rd+label:before {
     content: '';
     position: absolute;
     top: 8px;
     left: 8px;
     z-index: 500;
     width: 0;
     height: 0;
     border-radius: 50%;
     background: white;
     -webkit-transition: all 0.1s ease-in;
     transition: all 0.1s ease-in;
 }

 /* radio选中状态时，“底部框”的样式 */

 .rd:checked+label {
     background: #1976d2;
 }

 /* radio选中状态时，“选择小圆块”的样式 */

 .rd:checked+label:before {
     content: '';
     position: absolute;
     top: 4px;
     left: 4px;
     width: 8px;
     height: 8px;
 }